<h2 mat-dialog-title >{{title}}</h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup] ="form ">
    <mat-grid-list cols="2">
        <mat-grid-tile>

            <div class="example-container">
                
              <mat-form-field >
                <mat-label>Enter full patient_name</mat-label>
                <input matInput placeholder="Ali"
                 formControlName="patient_name"
                 required>
                <mat-error *ngIf="form.get('name')?.invalid || form.get('patient_name')?.dirty || form.get('patient_name')?.touched ">Enter full Patient Name</mat-error>
              </mat-form-field>

                <mat-form-field >
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="+923878757887"
                     formControlName="mobile"
                     required>
                    <mat-error *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched ">Enter Mobile</mat-error>
                  </mat-form-field>

                

                  <mat-form-field >
                    <mat-label>Prescription</mat-label>
                    <input matInput placeholder="ex prescription"
                     formControlName="prescription"
                     required>
                    <mat-error *ngIf="form.get('prescription')?.invalid || form.get('prescription')?.dirty || form.get('prescription')?.touched ">Enter Prescription}
                      
                    </mat-error>
                  </mat-form-field>


              





              </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <mat-label>Gender</mat-label>
                <mat-radio-group aria-label="Select an gender" color="primary" formControlName="gender"><br>
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                  
                  </mat-radio-group>
                  
                  <mat-form-field >
                    <mat-label>Doctors</mat-label>
                    <mat-select formControlName="doctor_id" name="doctor_id">
                      <mat-option *ngFor="let doctor of allDoctors" [value]="doctor.doctor_id" >
                        {{doctor.doctor_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>AddmissionDate</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="admission_date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('admission_date')?.invalid || form.get('admission_date')?.dirty || form.get('admission_date')?.touched ">Select Admission date</mat-error>
                  </mat-form-field>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="cancelRegisteration()">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close  (click)="registerPatient()">{{buttonName}}</button>
  </div>
